#hero h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: 30px;
  color: #fff;
  text-shadow: 4px 4px #1a1a1a;
}

#hero h3 {
  color: #fff;
  text-shadow: 2px 2px #1a1a1a;
}

.logo-green {
  color: #17793e;
}

#first-cta {
  background-color: #17793e;
}

#first-cta h3 {
  color: #fff;
}

.btn-cotizar {
  background-color: #fff !important;
  color: #1a1a1a !important;
  font-weight: bold !important;
  font-size: 18px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  border: none !important;
}


.testimonial.testimonial-single .testimonial-item {
  line-height: 28px;
}

@media (min-width: 768px) {
  .testimonial.testimonial-single .testimonial-item {
    padding: 30px 200px;
  }
}

.btn-contact {
    border-radius: 5px 5px 5px 5px !important;
    letter-spacing: .5px;
    padding: 12px 18px;
    background-color: #028430;
    color: #ffffff !important;
    /* cursor: pointer; */
}

.btn-contact:hover {
    background-color: #31b961 !important;
}

#topbar .top-menu > li > a {
    display: inline-block;
}

.top-menu-contact_title {
  font-weight: bold;
  margin: 0 16px;
}

.top-menu-contact_separator {
  margin: 0 24px;
}

html {
  scroll-behavior: smooth;
}
