/*

1. Add your custom Css styles below
2. Place the this code in your template:

 <link href="css/custom.css" rel="stylesheet">

*/

#hero h1 {
  font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 30px;
    color: #fff;
    text-shadow: 4px 4px #1a1a1a;
}

#hero h3 {
  color: #fff;
  text-shadow: 2px 2px #1a1a1a;
}

.logo-green {
  color: #17793e;
}

#first-cta {
  background-color: #17793e;
}

#first-cta h3 {
  color: #fff;
}

.btn-cotizar {
  background-color: #fff !important;
  color: #1a1a1a !important;
  font-weight: bold !important;
  font-size: 18px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  border: none !important;
}

.testimonial.testimonial-single .testimonial-item {
    padding: 30px 200px;
    line-height: 28px;
}
